:root {
  --logo-font: bigmoore, serif;
  --body-text: "Bebas Neue", sans-serif;

  /* Colour Palette */
  --bold: #ff6633;
  --light: #ffffee;
  --highlight: #face3c;
  --dark: #313030;
  --lowlight: #545558;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.hero {
  background-color: var(--light);
  color: var(--bold);
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-family: var(--body-text);
  font-size: 24px;
  margin-bottom: 40px;
}

.hero a {
  display: inline-block;
  background-color: #ffffff;
  color: #f15b5d;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
}
